<?xml version="1.0"?>
<!--
  ~ @author Leonardo Henrique Cardoso <leohenricardoso@gmail.com>
  ~ @copyright Copyright (c) 2022 Leonardo Henrique Cardoso
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="LeonardoHenrique_DynamicProductDescription" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Swatches"/>
        </sequence>
    </module>
</config>
